{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon site !{% endblock %}

{% block body %}

    
  <main class="px-3 ">
     <h1 >Bienvenue sur mon site web sous Symfony ! </h1>
     <p class="lead">Avec bootstrap 5  </p>
  
  </main>

{% endblock %}
